edge h2 {
  margin: 100px 0 70px;
}
.slide-edge {
  max-width: 263px;
  height: 250px !important;
  background: #F7F7F7;
  border-radius: 3px;
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #9C9C9C;
    padding-bottom: 0;
  }
  img {
    position: inherit;
    margin: 30px 90px 0;
  }
}
h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #383838;
  padding-top: 30px;
}
.swiper-pagination {
  display: none;
}
@media (max-width: $breakpoint992) {
  edge h2 {
    margin: 30px 0;
    text-align: center;
  }
  .swiper-pagination {
    display: block;
    bottom: 0px !important;
  }
  .swiper__edge .swiper-wrapper {
    padding-bottom: 30px;
  }
}
@media (max-width: $breakpoint480) {
  .swiper__edge{
    width: 260px;
    .swiper-wrapper {
      gap: 0px;
    }
  }
}