.swiper-slide img {
  position: absolute;
}
.swiper-box {
  position: relative;
  width: 645px;
  height: 500px;
  padding: 70px 0px 70px 100px;
  a {
    padding: 18px 50px;
  }
  img {
    width: 55px;
    height: 55px;
    position: relative;
    top: -50px;
    left: 290px;
  }
}
.swiper-button-prev {
  left: 215px !important;
  top: -16px !important;
}
h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  color: #FFFFFF;
}
p {
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #9C9C9C;
  width: 275px;
  padding: 15px 0 45px;
}
@media (max-width: 600px) {
  h1 {
    font-size: 48px;
    line-height: 58px;
    padding-left: 60px;
  }
  .swiper-box {
    padding-left: 0px;
    .btn {
      position: relative;
      top: 200px;
    }
    a {
      padding: 18px 95px;
    }
    p {
      margin-left: 60px;
    }
  }
  .swiper__first {
    height: 600px;
    .swiper-slide {
      width: 435px !important;
    }
  }
  .swiper-button-prev {
    top: 185px !important;
    left: 310px !important;
  }
  .swiper-button-next {
    top: 152px !important;
    left: 390px !important;
  }
}